# Deep learning
torch
torchvision
torchmetrics

# Medical imaging I/O & preprocessing
torchio

# Attribution / XAI
captum

# Classical ML, metrics & utilities
numpy
pandas
scikit-learn
joblib

# Visualisation
matplotlib
opencv-python

# Training utilities
tqdm
torchinfo
tensorboard

